name: COBOL Check Automation
on:
 push:
   branches: [ main ]
jobs:
 cobol-check:
   runs-on: ubuntu-latest
   steps:
   - uses: actions/checkout@v2
   
   - name: Set up Java
     uses: actions/setup-java@v2
     with:
       distribution: 'zulu'
       java-version: '11'
       
   - name: Setup Node.js
     uses: actions/setup-node@v3
     with:
       node-version: '22'
       
   - name: Install Zowe CLI
     run: npm install -g @zowe/cli@latest
     
   - name: Run Zowe operations
     env:
       ZOWE_OPT_HOST: ${{ secrets.ZOWE_HOST }}
       ZOWE_OPT_PORT: ${{ secrets.ZOWE_PORT }}
       ZOWE_OPT_USER: ${{ secrets.ZOWE_USERNAME }}
       ZOWE_OPT_PASSWORD: ${{ secrets.ZOWE_PASSWORD }}
       ZOWE_OPT_REJECT_UNAUTHORIZED: false
       ZOWE_USERNAME: ${{ secrets.ZOWE_USERNAME }}
       ZOWE_PASSWORD: ${{ secrets.ZOWE_PASSWORD }}
     run: |
       chmod +x .github/scripts/zowe_operations.sh
       .github/scripts/zowe_operations.sh

   - name: Run COBOL Check on Mainframe
     env:
       ZOWE_HOST: ${{ secrets.ZOWE_HOST }}
       ZOWE_USERNAME: ${{ secrets.ZOWE_USERNAME }}
       ZOWE_PASSWORD: ${{ secrets.ZOWE_PASSWORD }}
     run: |
       sshpass -p "$ZOWE_PASSWORD" ssh -o StrictHostKeyChecking=no ${ZOWE_USERNAME}@${ZOWE_HOST} zsh ./mainframe_operations.sh
       
